<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='loader.css') }}" rel="stylesheet">
    <title>Gif the sound</title>
</head>
<body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='home.js') }}" type="text/javascript"></script>
<div class="maindiv">
    <div>
        <textarea class="searchtext" id="searchtext" maxlength="500">She was walking in the street</textarea>
        <ul class="search-options" style="display:inline-block">
            <b>general</b>
            <li><input checked id="cbAnyWords" type="checkbox">Show gifs for any words</li>
            <li><input id="cbFastSearch" style="margin-bottom:20px;" type="checkbox">Same word = same gif</li>

            <b>show gifs only for..</b>
            <li><input id="wordTypeNouns" type="checkbox">Nouns</li>
            <li><input id="wordTypeVerbs" type="checkbox">Verbs</li>
            <li><input id="wordTypeAdjectives" type="checkbox">Adjectives</li>
            <li><input id="wordTypeAdverbs" type="checkbox">Adverbs</li>
        </ul>
    </div>
    <div>
        </br>
        <button id="btSearchGifForText" style="display:inline-block; margin-right: 10px;">Gif the sound</button>
        <div id="loader" style="display:inline-block;"></div>
    </div>
</div>
<div id="gifdiv"></div>
</body>
</html>