<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
    <title>Gif the sound</title>
</head>
<body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='home.js') }}" type="text/javascript"></script>
<div>
    <textarea class="searchtext" id="searchtext"></textarea>
    <p>
        <button id="btSearchGifForText">Show gifs</button>
        <input id="cbFastSearch" type="checkbox">Enable fast search (1 word = 1 gif)<br>
    </p>
</div>
<div id="gifdiv"></div>
</body>
</html>